API_BASE_URL=http://localhost:8000
PUBLIC_SITE_URL=http://localhost:5173
UPDATE_METADATA_URL=
UPDATE_DOWNLOAD_URL=
COMPANION_DEVICE_NAME=Windows PC
COMPANION_DEV_INTERVAL_SECONDS=0
COMPANION_JITTER_SECONDS=90
